@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="showcase-areaTienda" id="showcase">
    <div class="showcase-container">
        <h1 class="main-title" id="home">Casa Parker</h1>
        <p>Te contamos todo lo que queres saber</p>
    </div>
</section>


<section id="contact">
    <div class="contact-container container">
        <div class="contact-img">
            <img src="" alt="" />
        </div>

        <div class="form-container">
            <h2>Contact Us</h2>
            <input type="text" placeholder="Your Name" />
            <input type="email" placeholder="E-Mail" />
            <textarea cols="30" rows="6" placeholder="Type Your Message"></textarea>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>
</section>